@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto+Bold:ital,wght@1,500&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
list-style: none;
font-family: 'Roboto Bold', monospace;
}

body{
overflow: hidden;
}

header{
display: flex;
justify-content: space-around;
max-width: 100%;
align-items: center;
text-align: center;
padding-top: 1rem;

}

.encabezado-link{
    display: flex;
    gap: 3rem;
    font-weight: 500;
    cursor: pointer;
    }
    .encabezado-link a{
    color: blue;
    font-size: 12;
    border: solid 1px #8d0808;
    padding: 5px;
    border-radius: 0 5px 5px 5px;
    font-size: 15px;
    width: 150px;
    cursor: pointer;
    
    }
    .encabezado-link a:hover{
    color: #110f10;
    transition: 0.3s all;
    display: flex;
    background-color: #532db9;
    }

    
    button{
    color: #111010;
    background: right center;
    border: solid 1px #8d0808;
    padding: 5px;
    border-radius: 0 5px 5px 5px;
    font-size: 15px;
    width: 150px;
    cursor: pointer;
    }
    
    button:hover{
    background-color: #532db9;
    color: rgb(13, 13, 15);
    transition: 0.3s all;
    
    
    }
    .container-text{
    padding: 150px 0 0 130px;
    text-align: center;
    float: center;
    background-color: pink;
    color: red;
    font-family: monospace;
    font-size: 100%
    }
        

    
    .text h3{
    color: black;
    font-size: 15px;


    }
    
    .text h1{
    color: black;
    margin-top: 10px;
    }
    
    .text span{
    color: #0c0d0e;
    }

    * {
        padding: 0;
        margin: 0;
    }
    
    .img-responsive {
        width: 100%;
        height: auto;
    }
    
    .contenedor {
        width: 90%;
        margin: 0 auto;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .c-md-12 {
        width: 100%;
    }
    .c-md-6 {
        width: 50%;
    }
    .c-md-4 {
        width: 33.333333%;
    }
    .content {
        padding: 20px;
    }
    .c-md-12.title {
        text-align: center;
    }
    .c-md-12 h1 {
        text-align: center;
    }
    .c-md-12 hr {
        margin: 10px 0 20px 0;
        display: inline-block;
        width: 100px;
    }
    
    .share {
        display: flex;
        justify-content: center;
    }
    .share a {
        margin: 0 5px;
        text-decoration: none;
        color: #fff;
        padding: 10px;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 0 5px 5px 5px;
        -webkit-border-radius: 0 5px 5px 5px;
        -moz-border-radius: 0 5px 5px 5px;
        -ms-border-radius: 0 5px 5px 5px;
        -o-border-radius: 0 5px 5px 5px;
        transition: all 400ms ease;
        -webkit-transition: all 400ms ease;
        -moz-transition: all 400ms ease;
        -ms-transition: all 400ms ease;
        -o-transition: all 400ms ease;
    }
    
    .share .whatsapp {
        background: #018101cb;
    }
    .share .whatsapp:hover {
        color: #018101cb;
        background: transparent;
        border: 1px dashed #018101cb;
    }
    
    .share .facebook {
        background: #050599;
    }
    .share .facebook:hover {
        color: #050599;
        background: transparent;
        border: 1px dashed #050599;
    }
    .share .twitter {
        background: #00a2ff;
    }
    .share .twitter:hover {
        color: #00a2ff;
        background: transparent;
        border: 1px dashed #00a2ff;
    }
    .share .linkedin {
        background: #002cb9;
    }
    .share .linkedin:hover {
        color: #002cb9;
        background: transparent;
        border: 1px dashed #002cb9;
    }
    .share .google-plus {
        background: #ff5e00;
    }
    .share .google-plus:hover {
        color: #ff5e00;
        background: transparent;
        border: 1px dashed #ff5e00;
    }